<!-- <pre style="background-color: yellow">
  hasAsyncData: {{ hasAsyncData() }}
  lastValue: {{ lastValue() }}
  value: {{ documentIdField.value }} 
  status: {{ documentIdField.status }}
</pre> -->
<form [formGroup]="invoiceForm">
  <!-- Start::title -->
  <div class="field mb-4">
    <span class="text-900 text-2xl block font-semibold mb-5"
      >Ingresa la información de facturación</span
    >
  </div>
  <!-- End::title -->

  <div class="field mb-4 flex flex-column">
    <label for="documentId" class="font-semibold text-900"
      >Correo electrónico de contacto de la empresa</label
    >
    <app-email-input formControlName="email" id="email" />
    <small id="email-help"> Ej: micorreo&#64;gmail.com </small>
  </div>

  <!-- Start::input documentId -->
  <div class="field mb-4 flex flex-column">
    <label for="documentId" class="font-semibold text-900">{{
      documentIdLabel
    }}</label>
    <app-document-id-input
      id="documentId"
      formControlName="documentId"
      [isEnterprise]="true"
    />
    <small id="documentId-help"> Ej: 12345678-9 </small>
  </div>
  <!-- End::input documentId -->

  <!-- Start::input razón social -->
  <div class="field mb-4 flex flex-column">
    <label for="businessName" class="font-semibold text-900"
      >Razón social</label
    >
    <p-iconField iconPosition="right">
      <p-inputIcon
        styleClass="fa-sharp fa-solid fa-spinner-third fa-spin"
        [hidden]="!isLoading()"
      />
      <input
        id="businessName"
        type="text"
        pInputText
        maxlength="20"
        formControlName="businessName"
        class="w-full"
      />
    </p-iconField>
  </div>
  <!-- End::input razón social -->

  <!-- Start::giro comercial -->
  <div class="field mb-6 flex flex-column">
    <label for="businessLine" class="font-semibold text-900"
      >Giro comercial</label
    >
    <p-dropdown
      #dropdownElement
      styleClass="w-full"
      formControlName="businessLineCode"
      [options]="businessLines()"
      optionLabel="name"
      optionValue="code"
      [loading]="isLoading()"
      dropdownIcon="fa-sharp fa-solid fa-chevron-down"
      loadingIcon="fa-sharp fa-solid fa-spinner-third fa-spin"
      [filter]="true"
      filterBy="name"
      emptyMessage="No se encontraron giros comerciales"
      emptyFilterMessage="No se encontraron giros comerciales"
    />
  </div>
  <!-- End::giro comercial -->
</form>
