<form [formGroup]="purchaseOrderForm">
  <div class="field mb-4">
    <!-- Start::title -->
    <span class="text-900 text-2xl block font-semibold mb-5"
      >Adjunta tu orden de compra</span
    >
    <!-- End::title -->
  </div>
  <!-- Start::input nombre -->
  <div class="field mb-4 flex flex-column">
    <label for="code" class="font-semibold text-900">Código</label>
    <input id="code" type="text" pInputText maxlength="25" spellcheck="false" />
    <small id="code-help"> Ej: fc65d810 </small>
  </div>
  <!-- End::input nombre -->
</form>
