<div class="col-12 field mb-4">
  <!--
  <div
    class="flex p-4 mt-3 lg:mt-0 mb-4 border-round border-1 surface-border w-full flex align-items-center h-6rem"
  >
    <div class="mr-4 md:mr-6">
      <div class="font-semibold mb-2">San Bernardo</div>
      <span class="text-sm">Av. General Velásquez N° 10701</span>
    </div>
    <i class="fa-sharp fa-solid fa-angle-right text-xl ml-auto"></i>
  </div>-->
  <!-- Start::nuevo item -->

  <!-- Start::description -->
  <p class="font-semibold underline mb-4 cursor-pointer">
    Separamos tu pedido en {{ products.length }} grupos
  </p>
  <!-- End::description -->

  @for(group of products; track $index){
  <div class="border-round surface-border border-1 mb-4">
    <div
      class="px-3 md:px-4 py-2 border-bottom-1 surface-border flex justify-content-between align-items-center"
    >
      <span class="text-900 font-semibold"
        >Entrega {{ $index + 1 }} de {{ products.length }}</span
      >
      <div class="flex align-items-center">
        <span class="text-900 font-semibold mr-3">{{
          group.price | currency
        }}</span>
        <!--<button class="p-button p-component p-button-danger">
            <span class="p-button-icon pi pi-trash"></span>
          </button>-->

        <!--<p-button
            pRipple
            label="Eliminar"
            size="small"
            [outlined]="true"
            severity="danger"
          />-->
        <p-button
          icon="pi pi-trash"
          severity="danger"
          [text]="true"
          [rounded]="true"
          pTooltip="Eliminar"
        />
      </div>
    </div>
    <ul class="list-none p-0 m-0">
      @for(product of group.items; track $index){
      <li
        class="px-3 md:px-4 py-3 surface-border flex align-items-center"
        [ngClass]="{ 'border-bottom-1': $index < group.items.length - 1 }"
      >
        <img
          [src]="product.image"
          class="w-3rem sm:w-4rem flex-shrink-0 mr-3"
        />
        <div class="flex flex-column">
          <span class="text-900 font-semibold mb-2 text-sm">{{
            product.brand
          }}</span>
          <span class="text-600 mb-2 text-sm">{{ product.name }}</span>
          <span class="text-900 font-medium text-sm">{{ product.sku }}</span>
        </div>
        <div
          class="ml-auto flex flex-column justify-content-center align-items-center"
        >
          <span class="text-900 text-sm text-center">
            {{ product.quantity }} Unidades</span
          >
        </div>
      </li>
      }
    </ul>
    <div
      class="px-4 py-2 border-top-1 surface-border flex justify-content-between align-items-center cursor-pointer"
    >
      <p class="text-900">
        Recíbelo el <span class="font-semibold">12 de noviembre</span>
      </p>
      <i class="fa-sharp fa-solid fa-angle-right text-xl ml-auto"></i>
    </div>
  </div>
  }
</div>
