<form [formGroup]="dateForm">
  <p-sidebar
    [(visible)]="visible"
    position="right"
    styleClass="w-screen lg:w-4"
  >
    <ng-template pTemplate="header">
      <div class="flex align-items-center gap-2">
        <span class="font-bold text-lg"> Elige una fecha de entrega </span>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="flex flex-column field p-0 gap-3">
        @for(item of availableDates(); track $index){
        <div
          class="flex p-3 border-round border-1 surface-border w-full cursor-pointer flex align-items-center h-7rem md:h-6rem"
          (click)="onSelectDate($index)"
          [ngClass]="{
            'surface-border hover:border-400': idField?.value !== item.id,
            'border-primary bg-blue-50': idField?.value === item.id
          }"
        >
          <p-radioButton
            name="id"
            [value]="item.id"
            formControlName="id"
            styleClass="mr-3"
          ></p-radioButton>
          <div class="mr-4 md:mr-6">
            <div class="font-semibold mb-2 date-label">
              {{ item.date | shippingDate }}
            </div>
            <span class="text-sm">{{
              item.price ? (item.price | currency) : "Gratis"
            }}</span>
          </div>
        </div>
        }
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-end">
        <p-button
          label="Seleccionar"
          class="w-full"
          styleClass="w-full"
          (onClick)="saveDateAndClose()"
        />
      </div>
    </ng-template>
  </p-sidebar>
</form>
