<div class="border-bottom-1 surface-border mb-5">
  <p class="text-base text-400">
    Paso {{ accountType() === "customer" ? 1 : 2 }} de {{ steps() }}
  </p>
  <h2 class="mt-0 mb-2 text-900 font-bold text-4xl">
    Datos
    {{ accountType() === "customer" ? "personales" : "del administrador" }}
  </h2>
  <p class="mt-0 mb-5 text-700 font-normal text-base">
    Ingresa tus datos personales y disfruta de una experiencia de compra más
    rápida.
  </p>
</div>
<form
  [formGroup]="personalForm"
  (ngSubmit)="submit(personalForm.value)"
  autocomplete="off"
>
  @if(accountType() === 'enterprise'){
  <div class="field mb-4 flex flex-column">
    <label for="position" class="font-semibold text-900">Cargo</label>
    <input
      id="position"
      type="text"
      pInputText
      maxlength="20"
      formControlName="position"
      pKeyFilter="alpha"
    />
    <!-- <small id="name-help"> Ej: Nicolás </small> -->
  </div>
  }

  <div class="field mb-4 flex flex-column">
    <label for="name" class="font-semibold text-900">Nombre</label>
    <input
      id="name"
      type="text"
      pInputText
      maxlength="20"
      formControlName="name"
      pKeyFilter="alpha"
    />
    <small id="name-help"> Ej: Nicolás </small>
  </div>

  <div class="field mb-4 flex flex-column">
    <label for="lastname" class="font-semibold text-900">Apellido</label>
    <input
      id="lastname"
      type="text"
      pInputText
      maxlength="20"
      formControlName="lastname"
      pKeyFilter="alpha"
    />
    <small id="lastname-help"> Ej: Rojas </small>
  </div>

  <div class="field mb-4 flex flex-column">
    <label for="documentId" class="font-semibold text-900">RUT</label>
    <input
      id="documentId"
      type="text"
      pInputText
      maxlength="9"
      pKeyFilter="alphanum"
      formControlName="documentId"
    />
    <small id="documentId-help"> Ej: 12345678-9 </small>
  </div>
  <div class="field mb-4 flex flex-column">
    <label for="phone" class="font-semibold text-900">Teléfono</label>
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">{{ phoneCode }}</span>
      <p-inputNumber
        id="phone"
        inputId="integeronly"
        [useGrouping]="false"
        maxlength="9"
        formControlName="phone"
      />
    </div>
    <small id="phone-help"> Ej: 9 1234 9876 </small>
  </div>
  <div class="field mb-4 flex flex-column">
    <label for="cc-email" class="font-semibold text-900"
      >Correo eletrónico</label
    >
    <input
      spellcheck="false"
      id="paso-1-solicitud-input-email"
      type="text"
      pInputText
      maxlength="30"
      formControlName="email"
      name="no-autocomplete"
      autocomplete="off"
    />
    <small id="email-help"> Ej: micorreo&#64;gmail.com </small>
  </div>

  <div class="field mb-4 flex flex-column">
    <label for="confirmEmail" class="font-semibold text-900"
      >Repita correo eletrónico</label
    >
    <input
      spellcheck="false"
      id="confirmEmail"
      type="text"
      pInputText
      maxlength="30"
      formControlName="confirmEmail"
    />
    <small id="email-help"> Ej: micorreo&#64;gmail.com </small>
  </div>

  <div class="field mb-4 flex flex-column w-full">
    <label for="password" class="font-semibold text-900">Contraseña</label>
    <p-password
      id="password"
      [toggleMask]="true"
      promptLabel="Ingresa una constraseña"
      weakLabel="Débil"
      mediumLabel="Fuerte"
      strongLabel="Muy fuerte"
      formControlName="password"
      inputStyleClass="w-full"
      styleClass="w-full"
    >
      <ng-template pTemplate="footer">
        <p-divider />
        <p class="mt-2 font-bold">Tu contraseña debe contener:</p>
        <ul class="pl-2 ml-2 mt-0 list-none" style="line-height: 1.5">
          <li>Al menos una letra minúscula</li>
          <li>Al menos una letra mayúscula</li>
          <li class="">
            <i class="pi pi-check text-green-500"></i>
            Al menos un número
          </li>

          <li class="">
            <i class="pi pi-times text-red-500"></i> Mínimo 8 caracteres
          </li>
        </ul>
      </ng-template>
    </p-password>
  </div>
  <div class="field mb-6 flex flex-column">
    <label for="confirmPassword" class="font-semibold text-900"
      >Repita contraseña</label
    >
    <p-password
      id="confirmPassword"
      formControlName="confirmPassword"
      [toggleMask]="true"
      [feedback]="false"
      inputStyleClass="w-full"
      styleClass="w-full"
    ></p-password>
  </div>
  <div
    class="flex gap-3 fixed lg:static left-0 bottom-0 surface-card w-full p-3 lg:p-0"
  >
    <button
      type="button"
      severity="secondary"
      pButton
      pRipple
      label="Volver"
      class="w-full py-3 font-medium hidden lg:block"
      (click)="onGoBack.emit()"
    ></button>
    <button
      type="submit"
      pButton
      pRipple
      label="Continuar"
      class="w-full py-3 font-medium"
    ></button>
  </div>
</form>
