<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
  <div class="text-900 font-medium text-xl mb-3">Profile</div>
  <p class="m-0 mb-4 p-0 text-600 line-height-3 mr-3">
    Odio euismod lacinia at quis risus sed vulputate odio. Non nisi est sit
    amet. Egestas integer eget aliquet nibh praesent tristique magna.
  </p>
  <div class="surface-card p-4 shadow-2 border-round">
    <div class="grid formgrid p-fluid">
      <div class="field mb-4 col-12">
        <label for="nickname2" class="font-medium text-900">RUT</label>
        <input id="nickname2" type="text" pInputText />
      </div>
      <!-- <div class="surface-border border-top-1 opacity-50 mb-3 col-12"></div> -->

      <div class="surface-border border-top-1 opacity-50 mb-3 col-12"></div>
      <div class="field mb-4 col-12 md:col-6">
        <label for="city2" class="font-medium text-900">Nombre</label>
        <input id="city2" type="text" pInputText />
      </div>
      <div class="field mb-4 col-12 md:col-6">
        <label for="state2" class="font-medium text-900">Apellido</label>
        <input id="state2" type="text" pInputText />
      </div>
      <div class="field mb-4 col-12 md:col-6">
        <label for="email2" class="font-medium text-900">Email</label>
        <input id="email2" type="text" pInputText />
      </div>
      <div class="field mb-4 col-12 md:col-6">
        <label for="country2" class="font-medium text-900">Teléfono</label>
        <div class="flex">
          <div class="flex">
            <!-- border-right-none -->
            <p-dropdown
              styleClass="w-6rem border-noround-right "
              variant="filled"
              [options]="phoneCodes"
              [(ngModel)]="selectedPhoneCode"
            />
          </div>
          <div class="flex-1">
            <input pInputText pKeyFilter="int" class="border-noround-left" />
          </div>
        </div>
        <!-- <p-inputGroup> -->
        <!-- <p-inputGroupAddon> -->

        <!-- </p-inputGroupAddon> -->

        <!-- </p-inputGroup> -->
        <!--
                <p-dropdown inputId="country2" [options]="countries" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a Country">
                    <ng-template let-country pTemplate="item">
                        <div class="flex align-items-center">
                            <img src="assets/images/blocks/flag/flag_placeholder.png" [class]="'mr-2 flag flag-' + country.code.toLowerCase()" style="width:18px"/>
                            <div>{{country.name}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>-->
      </div>
      <div class="field mb-4 col-12 md:col-6">
        <label for="city2" class="font-medium text-900">Contraseña</label>
        <!-- <input id="city2" type="text" pInputText /> -->
        <!-- <p-password [(ngModel)]="password" [toggleMask]="true" /> -->
        <p-password [(ngModel)]="password" [toggleMask]="true">
          <ng-template pTemplate="header">
            <h6>Pick a password</h6>
          </ng-template>
          <ng-template pTemplate="footer">
            <p-divider />
            <p class="mt-2">Suggestions</p>
            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
              <li>Al menos una minúscula</li>
              <li>Al menos una mayúscula</li>
              <li>Al menos un número</li>
              <li>Mínimo 8 caracteres</li>
            </ul>
          </ng-template>
        </p-password>
      </div>
      <div class="field mb-4 col-12 md:col-6">
        <label for="state2" class="font-medium text-900"
          >Repita Contraseña</label
        >
        <input id="state2" type="text" pInputText />
      </div>
      <!--
      <div class="surface-border border-top-1 opacity-50 mb-3 col-12"></div>
      <div class="field mb-4 col-12">
        <label for="website2" class="font-medium text-900">Website</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">www</span>
          <input id="website2" type="text" pInputText />
        </div>
      </div>
      <div class="surface-border border-top-1 opacity-50 mb-3 col-12"></div>

      <div class="field mb-4 col-12">
        <label for="privacy2" class="font-medium text-900">Privacy</label>
        <div class="flex align-items-center">
          <p-inputSwitch inputId="privacy2"></p-inputSwitch>
          <span class="ml-2 text-900">Share my data with contacts</span>
        </div>
      </div> -->
      <div class="surface-border border-top-1 opacity-50 mb-3 col-12"></div>
      <div class="col-12">
        <button
          pButton
          pRipple
          label="Regístrarme"
          class="w-auto mt-3"
        ></button>
      </div>
    </div>
  </div>
</div>
