<main class="surface-ground">
  <div class="container md:py-8">
    <div class="surface-ground shadow-2">
      <div class="flex flex-wrap">
        <!-- Izquierda -->
        <div
          class="w-full lg:w-6 px-4 py-7 lg:px-7 surface-card border-bottom-1 md:border-bottom-none md:border-right-1 surface-border"
        >
          <!--
        <div class="text-xl text-900 font-500 mb-3">Welcome to Bastion</div>
        <p class="text-600 line-height-3 mt-0 mb-6">
          Quis vel eros donec ac odio tempor orci dapibus. In hac habitasse platea
          dictumst quisque.
        </p>-->
          <!--
          <div class="border-bottom-1 surface-border">
            <h3 class="mt-0 mb-2 text-900 font-bold text-4xl">
              Beneficios implementos.cl
            </h3>
            <p class="mt-0 mb-5 text-700 font-normal text-base">
              ¿Ya tienes una cuenta?
              <a target="_blank" href="#" class="font-medium text-blue-500"
                >Inicia sesión aquí</a
              >
            </p>
          </div> -->
          <div class="border-bottom-1 surface-border mb-5">
            <h2 class="mt-0 mb-2 text-900 font-bold text-4xl">
              Únete a la familia de
              <span class="text-blue-600">Implementos</span>
            </h2>
            <p class="mt-0 mb-5 text-700 font-normal text-base">
              ¿Ya tienes una cuenta?
              <a target="_blank" href="#" class="font-medium text-blue-500"
                >Inicia sesión aquí</a
              >
            </p>
          </div>
          <ul class="list-none px-0 py-6 m-0">
            <li class="flex align-items-start mb-4">
              <div>
                <span
                  class="flex align-items-center justify-content-center bg-purple-400"
                  style="width: 50px; height: 45px; border-radius: 10px"
                >
                  <!-- <i class="text-xl text-white pi pi-inbox"></i> -->
                  <i
                    class="fa-sharp-duotone fa-solid fa-file-invoice-dollar text-3xl text-white"
                  ></i>
                </span>
              </div>
              <div class="ml-3">
                <span class="font-medium text-900">Revisar tus boletas</span>
                <p class="mt-2 mb-0 text-600 line-height-3">
                  Tincidunt nunc pulvinar sapien et. Vitae purus faucibus ornare
                  suspendisse sed nisi lacus sed viverra.
                </p>
              </div>
            </li>
            <li class="flex align-items-start mb-4">
              <div>
                <span
                  class="flex align-items-center justify-content-center bg-purple-400"
                  style="width: 50px; height: 50px; border-radius: 10px"
                >
                  <!-- <i class="text-xl text-white pi pi-shield"></i> -->
                  <!--<i
                    class="fa-duotone fa-solid fa-star text-3xl text-white"
                  ></i>-->
                  <i
                    class="fa-sharp-duotone fa-solid fa-address-book text-3xl text-white"
                  ></i>
                </span>
              </div>
              <div class="ml-3">
                <span class="font-medium text-900"
                  >Guardar medios de pago y direcciones favoritas</span
                >
                <p class="mt-2 mb-0 text-600 line-height-3">
                  Scelerisque purus semper eget duis at tellus at urna. Sed
                  risus pretium quam vulputate.
                </p>
              </div>
            </li>
            <li class="flex align-items-start">
              <div>
                <span
                  class="flex align-items-center justify-content-center bg-purple-400"
                  style="width: 50px; height: 50px; border-radius: 10px"
                >
                  <!-- <i class="text-xl text-white pi pi-globe"></i> -->
                  <i
                    class="fa-sharp-duotone fa-solid fa-gift text-3xl text-white"
                  ></i>
                </span>
              </div>
              <div class="ml-3">
                <span class="font-medium text-900"
                  >Precios Implementos Family</span
                >
                <p class="mt-2 mb-0 text-600 line-height-3">
                  Ahorra con promociones especiales, cupones de descuento y más.
                </p>
              </div>
            </li>
          </ul>
          <!--
          <ul class="list-none p-0 m-0 flex flex-column gap-5">
            <li class="relative mr-0 md:mr-8 flex-auto">
              <div
                class="border-1 border-300 border-round p-3 surface-card flex flex-column md:flex-row align-items-center z-1"
              >
                <i
                  class="pi pi-check-circle text-green-500 text-2xl md:text-4xl mb-2 md:mb-0 mr-0 md:mr-3"
                ></i>
                <div>
                  <div class="text-900 font-medium mb-1">Seat</div>
                  <span class="text-600 text-sm hidden md:block"
                    >Tempus iaculis urna id volutpat</span
                  >
                </div>
              </div>
              <div
                class="h-full absolute left-50 surface-300 hidden md:block"
                style="transform: translateX(-50%); width: 2px"
              ></div>
            </li>

            <li class="relative mr-0 md:mr-8 flex-auto">
              <div
                class="border-2 border-blue-500 border-round p-3 surface-card flex flex-column md:flex-row align-items-center z-1"
              >
                <i
                  class="pi pi-credit-card text-blue-600 text-2xl md:text-4xl mb-2 md:mb-0 mr-0 md:mr-3"
                ></i>
                <div>
                  <div class="text-blue-600 font-medium mb-1">Payment</div>
                  <span class="text-600 text-sm hidden md:block"
                    >Nisi vitae suscipit tellus</span
                  >
                </div>
              </div>
              <div
                class="h-full absolute left-50 surface-300 hidden md:block"
                style="transform: translateX(-50%); width: 2px"
              ></div>
            </li>
            
            <li class="relative flex-auto">
              <div
                class="border-1 border-300 border-round p-3 surface-50 flex flex-column md:flex-row align-items-center z-1"
              >
                <i
                  class="pi pi-check-circle text-600 text-2xl md:text-4xl mb-2 md:mb-0 mr-0 md:mr-3"
                ></i>
                <div>
                  <div class="text-900 font-medium mb-1">Confirmation</div>
                  <span class="text-600 text-sm hidden md:block"
                    >Sit amet est placerat in egestas erat</span
                  >
                </div>
              </div>
            </li>
          </ul>-->
        </div>
        <!-- Formulario -->
        <div class="w-full lg:w-6 p-4 lg:p-7 surface-card">
          <div class="border-bottom-1 surface-border mb-5">
            @if(step === 1){
            <h2 class="mt-0 mb-2 text-900 font-bold text-4xl">
              Elige tu tipo de cuenta
            </h2>
            <p class="mt-0 mb-5 text-700 font-normal text-base">
              Selecciona un tipo de cuenta para conocer todos los beneficios que
              tenemos para ti.
              <!--Selecciona un rol y conoce todos los beneficios que tenemos para
              ti.-->
            </p>
            } @else if(step === 2 && roleField === 'customer'){
            <h2 class="mt-0 mb-2 text-900 font-bold text-4xl">
              Datos personales
            </h2>
            <p class="mt-0 mb-5 text-700 font-normal text-base">
              Ingresa tus datos personales y disfruta de una experiencia de
              compra más rápida.
            </p>
            } @else if(step === 2 && roleField === 'enterprise'){
            <h2 class="mt-0 mb-2 text-900 font-bold text-4xl">Datos empresa</h2>
            <p class="mt-0 mb-5 text-700 font-normal text-base">
              Ingresa los datos de tu empresa y disfruta de una experiencia de
              compra más rápida.
            </p>
            } @else if(step === 3){
            <h2 class="mt-0 mb-2 text-900 font-bold text-4xl">
              Dirección de despacho
            </h2>
            <p class="mt-0 mb-5 text-700 font-normal text-base">
              Ingresa tus datos personales y disfruta de una experiencia de
              compra más rápida.
            </p>
            }
          </div>

          <form [formGroup]="signupForm" (ngSubmit)="register($event)">
            <!--
            <div class="flex justify-content-between">
              <button
                pRipple
                class="mr-2 w-6 font-medium py-3 px-2 p-component hover:surface-200 active:surface-300 text-900 transition-colors transition-duration-150 inline-flex"
              >
                <i class="pi pi-facebook text-indigo-500 mr-2"></i>
                <span>Persona</span>
              </button>
              <button
                pRipple
                class="ml-2 w-6 font-medium  py-3 px-2 p-component hover:surface-200 active:surface-300 text-900 transition-colors transition-duration-150 inline-flex"
              >
                <i class="pi pi-google text-red-500 mr-2"></i>
                <span>Empresa</span>
              </button>
            </div> -->

            <!--
            <p-divider align="center" styleClass="my-4">
              <span class="text-600 font-normal text-sm">OR</span>
            </p-divider>-->

            <!--
              <p-selectButton
                [options]="roleOptions"
                optionLabel="label"
                optionValue="value"
              /> -->

            @if(step === 1){
            <div class="field mb-6 flex flex-column">
              <!--<label for="name" class="font-medium text-900"
                >Tipo de usuario</label
              >-->

              <p-selectButton
                [options]="roleOptions"
                optionLabel="label"
                formControlName="role"
                optionValue="value"
              >
                <ng-template let-item pTemplate>
                  <div class="flex flex-column align-items-center gap-3">
                    <i class="text-4xl" [class]="item.icon"></i>
                    <span class="font-medium">{{ item.label }}</span>
                  </div>
                </ng-template>
              </p-selectButton>
            </div>
            } @else if(step == 2 && roleField === 'customer'){
            <div formGroupName="customer">
              <div class="field mb-4 flex flex-column">
                <label for="name" class="font-medium text-900">Nombre</label>
                <input
                  id="name"
                  type="text"
                  pInputText
                  maxlength="20"
                  formControlName="name"
                  pKeyFilter="alpha"
                />
                <small id="name-help"> Ej: Nicolás </small>
              </div>

              <div class="field mb-4 flex flex-column">
                <label for="lastname" class="font-medium text-900"
                  >Apellido</label
                >
                <input
                  id="lastname"
                  type="text"
                  pInputText
                  maxlength="20"
                  formControlName="lastname"
                  pKeyFilter="alpha"
                />
                <small id="lastname-help"> Ej: Rojas </small>
              </div>

              <div class="field mb-4 flex flex-column">
                <label for="documentId" class="font-medium text-900">RUT</label>
                <input
                  id="documentId"
                  type="text"
                  pInputText
                  maxlength="9"
                  pKeyFilter="alphanum"
                  formControlName="documentId"
                />
                <small id="documentId-help"> Ej: 12345678-9 </small>
              </div>
              <div class="field mb-4 flex flex-column">
                <label for="email" class="font-medium text-900"
                  >Correo eletrónico</label
                >
                <input
                  id="email"
                  type="text"
                  pInputText
                  maxlength="30"
                  formControlName="email"
                />
                <small id="email-help"> Ej: micorreo&#64;gmail.com </small>
              </div>
              <div class="field mb-4 flex flex-column">
                <label for="phone" class="font-medium text-900">Teléfono</label>
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon">+56</span>
                  <input
                    id="phone"
                    type="text"
                    pInputText
                    pKeyFilter="int"
                    maxlength="8"
                    formControlName="phone"
                  />
                </div>
                <small id="phone-help"> Ej: 9 1234 9876 </small>
              </div>
              <div class="field mb-4 flex flex-column w-full">
                <label for="password" class="font-medium text-900"
                  >Contraseña</label
                >
                <p-password
                  id="password"
                  [toggleMask]="true"
                  promptLabel="Ingresa una constraseña"
                  weakLabel="Débil"
                  mediumLabel="Fuerte"
                  strongLabel="Muy fuerte"
                  maxlength="30"
                  formControlName="password"
                  inputStyleClass="w-full"
                  styleClass="w-full"
                >
                  <ng-template pTemplate="footer">
                    <p-divider />
                    <p class="mt-2 font-bold">Tu contraseña debe contener:</p>
                    <ul
                      class="pl-2 ml-2 mt-0 list-none"
                      style="line-height: 1.5"
                    >
                      <li>Al menos una letra minúscula</li>
                      <li>Al menos una letra mayúscula</li>
                      <li class="">
                        <i class="pi pi-check text-green-500"></i>
                        Al menos un número
                      </li>

                      <li class="">
                        <i class="pi pi-times text-red-500"></i> Mínimo 8
                        caracteres
                      </li>
                    </ul>
                  </ng-template>
                </p-password>
              </div>
              <div class="field mb-5 flex flex-column">
                <label for="password2" class="font-medium text-900"
                  >Repita Contraseña</label
                >
                <input
                  id="password2"
                  type="text"
                  pInputText
                  maxlength="30"
                  formControlName="confirmPassword"
                />
              </div>
              <div class="field flex">
                <div class="flex align-items-center">
                  <p-checkbox inputId="privacy" [binary]="true"></p-checkbox>
                  <span class="ml-3 text-900"
                    >Acepto recibir información de ofertas y promociones de
                    implementos.cl.</span
                  >
                </div>
              </div>
              <div class="field mb-6 flex">
                <div class="flex align-items-center">
                  <p-checkbox
                    inputId="privacy"
                    [binary]="true"
                    formControlName="disclaimer"
                  ></p-checkbox>
                  <span class="ml-3 text-900"
                    >He leído y acepto los
                    <a
                      target="_blank"
                      href="#"
                      class="font-medium text-blue-500"
                      >Términos y condiciones</a
                    >
                    y la
                    <a
                      target="_blank"
                      href="#"
                      class="font-medium text-blue-500"
                      >Política de privacidad de tratamiento de datos
                      personales</a
                    >.</span
                  >
                </div>
              </div>
            </div>
            } @else if(step == 2 && roleField === 'enterprise'){
            <div formGroupName="enterprise">
              <div class="field mb-4 flex flex-column">
                <label for="documentId" class="font-medium text-900">RUT</label>
                <input
                  id="documentId"
                  type="text"
                  pInputText
                  maxlength="9"
                  pKeyFilter="alphanum"
                  formControlName="documentId"
                />
                <small id="documentId-help"> Ej: 12345678-9 </small>
              </div>
              <div class="field mb-4 flex flex-column">
                <label for="businessName" class="font-medium text-900"
                  >Razón social</label
                >
                <input
                  id="businessName"
                  type="text"
                  pInputText
                  maxlength="20"
                  formControlName="businessName"
                  pKeyFilter="alpha"
                />
                <small id="businessName-help"> Ej: Nicolás </small>
              </div>

              <div class="field mb-4 flex flex-column">
                <label for="businessLine" class="font-medium text-900"
                  >Giro</label
                >
                <input
                  id="businessLine"
                  type="text"
                  pInputText
                  maxlength="20"
                  formControlName="businessLine"
                  pKeyFilter="alpha"
                />
                <small id="businessLine-help"> Ej: Rojas </small>
              </div>
            </div>
            }

            <div class="flex gap-3">
              @if(step !== 1){
              <button
                type="button"
                severity="secondary"
                pButton
                pRipple
                label="Volver"
                class="w-full py-3 font-medium"
                (click)="step = step - 1"
              ></button>
              }
              <button
                type="submit"
                pButton
                pRipple
                label="Continuar"
                class="w-full py-3 font-medium"
              ></button>
            </div>
          </form>
        </div>

        <!--
      <div class="w-full lg:w-6 px-0 py-4 lg:p-7 bg-blue-50">
        <img
          src="assets/images/blocks/logos/bastion-700.svg"
          alt="Image"
          height="35"
          class="mb-6"
        />
        <p-carousel
          [value]="features"
          indicatorStyleClass="hover:bg-primary-500"
          [showNavigators]="false"
        >
          <ng-template let-feature pTemplate="item">
            <div class="text-center mb-8">
              <img
                src="assets/images/blocks/illustration/{{ feature.image }}"
                alt="Image"
                class="mb-6 w-6"
              />
              <div class="mx-auto font-medium text-xl mb-4 text-blue-900">
                {{ feature.title }}
              </div>
              <p class="m-0 text-blue-700 line-height-3">{{ feature.text }}</p>
            </div>
          </ng-template>
        </p-carousel>
      </div>-->
      </div>
    </div>
  </div>
</main>
