<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
  <div class="text-900 font-medium text-xl mb-3">Regístrate</div>
  <p class="m-0 mb-4 p-0 text-600 line-height-3 mr-3">
    Ingresa tus datos personales y disfruta de una experiencia de compra más
    rápida.
  </p>
  <div class="surface-card p-4 shadow-2 border-round">
    <div class="grid formgrid p-fluid">
      <!-- <div class="surface-border border-top-1 opacity-50 mb-3 col-12"></div> -->
      <!--
      <div
        class="flex flex-wrap justify-content-center align-items-center gap-3"
      >
        <div class="font-medium text-900 text-lg">
          Seleccione el tipo de cuenta
        </div>
        <div class="flex justify-content-center flex-wrap gap-3">
          <div
            class="inline-flex align-items-center justify-content-center px-3 py-2 text-900 text-lg cursor-pointer border-round border-1 surface-border transition-colors transition-duration-150"
            (click)="amount = 0"
            [ngClass]="{
              'surface-card surface-border hover:surface-hover ': amount !== 0,
              'bg-primary border-primary': amount === 0
            }"
          >
            Persona
          </div>
          <div
            class="inline-flex align-items-center justify-content-center px-3 py-2 text-900 text-lg cursor-pointer border-round border-1 surface-border transition-colors transition-duration-150"
            (click)="amount = 1"
            [ngClass]="{
              'surface-card surface-border hover:surface-hover ': amount !== 1,
              'bg-primary border-primary': amount === 1
            }"
          >
            Empresa
          </div>
        </div>
      </div>
      <div class="surface-border border-top-1 opacity-50 mb-3 col-12"></div> -->
      <div class="field mb-4 col-12">
        <label for="name" class="font-medium text-900">Nombre</label>
        <input id="name" type="text" pInputText maxlength="20" />
        <small id="name-help"> Ej: Nicolás </small>
      </div>
      <div class="field mb-4 col-12">
        <label for="lastname" class="font-medium text-900">Apellido</label>
        <input id="lastname" type="text" pInputText maxlength="20" />
        <small id="lastname-help"> Ej: Rojas </small>
      </div>

      <div class="field mb-4 col-12">
        <label for="documentId" class="font-medium text-900">RUT</label>
        <input
          id="documentId"
          type="text"
          pInputText
          maxlength="9"
          pKeyFilter="alphanum"
        />
        <small id="documentId-help"> Ej: 12345678-9 </small>
        <!-- <p-inputMask mask="99999999-*" slotChar="" /> -->
      </div>
      <div class="field mb-4 col-12">
        <label for="email" class="font-medium text-900"
          >Correo eletrónico</label
        >
        <input id="email" type="text" pInputText maxlength="30" />
        <small id="email-help"> Ej: micorreo&#64;gmail.com </small>
      </div>
      <div class="field mb-4 col-12">
        <label for="country2" class="font-medium text-900">Teléfono</label>
        <!--<div class="flex">
          <div class="flex">
             border-right-none 
            <p-dropdown
              styleClass="w-6rem border-noround-right "
              variant="filled"
              [options]="phoneCodes"
              [(ngModel)]="selectedPhoneCode"
            />
          </div>
          <div class="flex-1">
            <input pInputText pKeyFilter="int" class="border-noround-left" />
          </div>
        </div>-->
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">+56</span>
          <input
            id="phone"
            type="text"
            pInputText
            pKeyFilter="int"
            maxlength="8"
          />
        </div>
        <small id="phone-help"> Ej: 9 1234 9876 </small>
      </div>
      <div class="field mb-4 col-12">
        <label for="city2" class="font-medium text-900">Contraseña</label>
        <!-- <input id="city2" type="text" pInputText /> -->
        <!-- <p-password [(ngModel)]="password" [toggleMask]="true" /> -->
        <p-password
          [(ngModel)]="password"
          [toggleMask]="true"
          promptLabel="Ingresa una constraseña"
          weakLabel="Débil"
          mediumLabel="Fuerte"
          strongLabel="Muy fuerte"
          maxlength="30"
        >
          <!--
          <ng-template pTemplate="header">
            <h6>Pick a password</h6>
          </ng-template> -->
          <ng-template pTemplate="footer">
            <p-divider />
            <p class="mt-2 font-bold">Tu contraseña debe contener:</p>
            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
              <li>Al menos una letra minúscula</li>
              <li>Al menos una letra mayúscula</li>
              <li>Al menos un número</li>

              <li class="text-red-500">
                <i class="pi pi-times"></i> Mínimo 8 caracteres
              </li>
            </ul>
          </ng-template>
        </p-password>
      </div>
      <div class="field mb-4 col-12">
        <label for="state2" class="font-medium text-900"
          >Repita Contraseña</label
        >
        <input id="state2" type="text" pInputText />
      </div>
      <!--
      <div class="surface-border border-top-1 opacity-50 mb-3 col-12"></div>
      <div class="field mb-4 col-12">
        <label for="website2" class="font-medium text-900">Website</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">www</span>
          <input id="website2" type="text" pInputText />
        </div>
      </div>
      <div class="surface-border border-top-1 opacity-50 mb-3 col-12"></div>

      <div class="field mb-4 col-12">
        <label for="privacy2" class="font-medium text-900">Privacy</label>
        <div class="flex align-items-center">
          <p-inputSwitch inputId="privacy2"></p-inputSwitch>
          <span class="ml-2 text-900">Share my data with contacts</span>
        </div>
      </div> -->
      <div class="surface-border border-top-1 opacity-50 mb-3 col-12"></div>
      <div class="col-12 text-right">
        <button
          pButton
          pRipple
          label="Registrarme"
          class="w-auto mt-3"
        ></button>
      </div>
    </div>
  </div>
</div>
