<form [formGroup]="form">
  <p-dropdown
    #dropdownElement
    formControlName="position"
    [options]="positions()"
    [filter]="true"
    filterBy="title"
    optionLabel="title"
    optionValue="titleId"
    [loading]="isLoading()"
    dropdownIcon="fa-sharp fa-solid fa-chevron-down"
    loadingIcon="fa-sharp fa-solid fa-spinner-third fa-spin"
    (onChange)="onPositionChange($event)"
    spellcheck="false"
    emptyMessage="No se encontraron cargos"
    emptyFilterMessage="No se encontraron cargos"
  />
</form>
