<app-title-header-mobile
  title="Crea tu cuenta"
  (onGoBack)="setPreviousStep()"
/>
<!-- <pre>step: {{ step() }}</pre> -->

<main class="surface-ground">
  <div class="container md:py-8">
    <div class="surface-ground lg:shadow-2">
      <div class="flex flex-wrap">
        <!-- Izquierda -->
        <div
          class="hidden md:block w-full lg:w-6 py-5 lg:py-7 px-4 lg:px-7 surface-card md:border-right-1 surface-border"
        >
          <div class="border-bottom-1 surface-border mb-5">
            <h2 class="mt-0 mb-2 text-900 font-bold text-4xl">
              Únete a la familia de
              <span class="text-blue-600">Implementos</span>
            </h2>
            <p class="mt-0 mb-5 text-700 font-normal text-base">
              ¿Ya tienes una cuenta?
              <a target="_blank" href="#" class="font-medium text-blue-500"
                >Inicia sesión aquí</a
              >
            </p>
          </div>
          <ul class="list-none px-0 py-6 m-0">
            <!--
            <li class="flex align-items-start mb-4">
              <div>
                <span
                  class="flex align-items-center justify-content-center bg-purple-400"
                  style="width: 50px; height: 45px; border-radius: 10px"
                >
                  <i
                    class="fa-sharp-duotone fa-solid fa-file-invoice-dollar text-3xl text-white"
                  ></i>
                </span>
              </div>
              <div class="ml-3">
                <span class="font-medium text-900">Revisar tus boletas</span>
                <p class="mt-2 mb-0 text-600 line-height-3">
                  Tincidunt nunc pulvinar sapien et. Vitae purus faucibus ornare
                  suspendisse sed nisi lacus sed viverra.
                </p>
              </div>
            </li> -->

            <li class="flex align-items-center mb-4">
              <div
                class="flex align-items-center justify-content-center bg-purple-400"
                style="width: 50px; height: 50px; border-radius: 10px"
              >
                <i
                  class="fa-sharp-duotone fa-solid fa-address-book text-3xl text-white"
                ></i>
              </div>
              <p class="text-600 ml-3 line-height-3">
                Envío gratis en compras superiores a $60.000.
              </p>
            </li>
            <li class="flex align-items-center mb-4">
              <div
                class="flex align-items-center justify-content-center bg-purple-400"
                style="width: 50px; height: 50px; border-radius: 10px"
              >
                <i
                  class="fa-sharp-duotone fa-solid fa-address-book text-3xl text-white"
                ></i>
              </div>
              <p class="text-600 ml-3 line-height-3">
                Guardar medios de pago y direcciones favoritas
              </p>
            </li>
            <li class="flex align-items-center mb-4">
              <div
                class="flex align-items-center justify-content-center bg-purple-400"
                style="width: 50px; height: 50px; border-radius: 10px"
              >
                <i
                  class="fa-sharp-duotone fa-solid fa-address-book text-3xl text-white"
                ></i>
              </div>
              <p class="text-600 ml-3 line-height-3">
                Guardar medios de pago y direcciones favoritas
              </p>
            </li>

            <!--
            <li class="flex align-items-start">
              <div>
                <span
                  class="flex align-items-center justify-content-center bg-purple-400"
                  style="width: 50px; height: 50px; border-radius: 10px"
                >
          
                  <i
                    class="fa-sharp-duotone fa-solid fa-gift text-3xl text-white"
                  ></i>
                </span>
              </div>
              <div class="ml-3">
                <span class="font-medium text-900"
                  >Precios Implementos Family</span
                >
                <p class="mt-2 mb-0 text-600 line-height-3">
                  Ahorra con promociones especiales, cupones de descuento y más.
                </p>
              </div>
            </li> -->
          </ul>
        </div>

        <div class="w-full lg:w-6 py-4 lg:py-7 px-4 lg:px-7 surface-card">
          @if(step() === 1){
          <app-account-type-form (onSubmit)="submitRoleForm($event)" />
          } @else if(step() === 2 && accountType() === 'enterprise'){
          <app-enterprise-form
            (onGoBack)="setPreviousStep()"
            (onSubmit)="submitEnterpriseForm($event)"
            [data]="enterpriseForm"
            [steps]="steps()"
          />
          } @else if((step() === 2 && accountType() === 'customer' || (step()
          === 3 && accountType() === 'enterprise'))){
          <app-personal-form
            [accountType]="accountType()"
            (onGoBack)="setPreviousStep()"
            (onSubmit)="submitPersonalForm($event)"
            [steps]="steps()"
          />
          } @else {
          <app-address-form
            [accountType]="accountType()"
            [steps]="steps()"
            (onGoBack)="setPreviousStep()"
            (onSubmit)="submitAddressForm($event)"
          />
          }
        </div>
      </div>
    </div>
  </div>
</main>
