<footer class="sticky bottom-0 w-full lg:hidden z-2">
  <ul
    class="surface-card p-0 m-0 list-none flex overflow-x-auto select-none shadow-2"
  >
    @for(item of items; track $index){
    <li class="flex-1 overflow-hidden">
      <a
        [routerLink]="item.routerLink"
        routerLinkActive="text-blue-500"
        #rla="routerLinkActive"
        [routerLinkActiveOptions]="{ exact: true }"
        class="px-2 py-3 flex align-items-center justify-content-center transition-colors transition-duration-150 flex-column no-underline text-700"
        pRipple
      >
        <i
          class="fa-sharp mb-2 text-2xl"
          [class]="item.icon"
          [ngClass]="rla.isActive ? 'fa-solid' : 'fa-regular'"
        ></i>
        <span
          class="font-medium text-xs text-center white-space-nowrap text-overflow-ellipsis overflow-hidden w-full"
          >{{ item.label }}</span
        >
      </a>
    </li>
    }
  </ul>
</footer>
