<!--<pre style="background-color: yellow">
  email: {{ emailField.value }}
</pre>-->

<form [formGroup]="form">
  <!--<input
    spellcheck="false"
    type="text"
    pInputText
    maxlength="30"
    formControlName="email"
    name="no-autocomplete"
    autocomplete="off"
    class="w-full"
    (input)="onEmailFieldInput($event)"
    (blur)="onEmailFieldBlur()"
  />-->

  <p-autoComplete
    spellcheck="false"
    styleClass="w-full"
    maxlength="30"
    formControlName="email"
    inputStyleClass="w-full"
    [suggestions]="filteredDomains()"
    (completeMethod)="search($event)"
    (onSelect)="onSuggestionSelect($event)"
    (onBlur)="onEmailFieldBlur()"
    (input)="onEmailFieldInput($event)"
    showEmptyMessage="false"
  >
  </p-autoComplete>
</form>
