<div
  class="bg-gray-900 px-3 sm:px-6 py-3 flex align-items-stretch justify-content-center sm:justify-content-end border-bottom-1 surface-border text-sm"
>
  <a
    pRipple
    class="text-white font-medium inline-flex align-items-center cursor-pointer px-3 hover:text-gray-200"
  >
    <i class="pi pi-sign-in mr-2 sm:mr-3 text-sm"></i>
    <span>Inicia sesión</span>
  </a>
  <div class="text-white mx-1 sm:mx-2">|</div>
  <a
    pRipple
    class="text-white font-medium inline-flex align-items-center cursor-pointer px-3 hover:text-gray-200"
  >
    <i class="pi pi-user mr-2 sm:mr-3 text-sm"></i>
    <span>Regístrate</span>
  </a>
</div>
