<div
  class="bg-cyan-600 text-white p-2 flex justify-content-between align-items-center flex-wrap shadow-2"
>
  <div class="font-bold">🔥 Despacho Gratis</div>
  <div class="align-items-center flex">
    <span class="line-height-3 hidden lg:block"
      >Por compras superiores a $60.000.</span
    >
  </div>
  <a
    pRipple
    class="flex align-items-center no-underline justify-content-center border-circle text-gray-50 hover:bg-cyan-400 cursor-pointer transition-colors transition-duration-150"
    style="width: 2rem; height: 2rem"
  >
    <i class="pi pi-times"></i>
  </a>
</div>
