<small class="mt-0">
  Solo archivos {{ acceptLabel() }} con menos de {{ maxFileSize() | fileSize }}.
</small>
<div
  class="file-upload mt-1"
  [class.dragover]="isDragging()"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
>
  <div
    class="font-semibold flex flex-column justify-content-center align-items-center gap-3 py-4"
  >
    <i class="fa-sharp-duotone fa-solid fa-file-arrow-up text-4xl"></i>
    <div
      class="flex flex-column justify-content-center align-items-center gap-2"
    >
      <span class="text-sm font-medium">
        Arrastra y suelta {{ isMultiple() ? "archivos" : "un archivo" }} en esta
        zona o
      </span>
      <p-button
        [label]="
          'Selecciona ' +
          (isMultiple() ? 'archivos' : 'un archivo') +
          ' de tu dispositivo'
        "
        severity="contrast"
        size="small"
        (click)="fileInput.click()"
      />
    </div>
  </div>
  <input
    type="file"
    #fileInput
    (change)="onFileSelected($event)"
    [attr.multiple]="isMultiple() ? true : null"
    [attr.accept]="accept()"
    class="file-input"
  />
</div>

@if(detailedFiles().length){
<div class="file-list mt-3">
  <!-- <h4>Archivos seleccionados:</h4> -->
  @for(file of detailedFiles(); track $index){
  <div
    class="flex gap-3 align-items-center border-1 border-round p-2 mb-3 surface-card"
    [ngClass]="file.hasError ? 'border-red-400' : 'surface-border'"
  >
    <!-- Start:icono -->
    <div
      class="border-round border-1 surface-border w-3rem h-3rem flex-wrap flex justify-content-center align-content-center"
    >
      <i
        class="fa-sharp-duotone fa-solid text-2xl pl-1"
        [ngClass]="[file.icon, file.hasError ? 'text-red-400' : 'text-primary']"
      ></i>
    </div>
    <!-- End:icono -->

    <!-- Start::nombre, tamaño y mensaje de error -->
    <div class="flex flex-column flex-1 min-w-0">
      <span
        class="text-sm font-semibold mb-1"
        style="
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          max-width: 100%;
        "
      >
        {{ file.name }}
      </span>
      <span class="text-xs text-500">
        {{ file.size || 0 | fileSize }}
      </span>
      @if(file.hasError){
      <small class="text-red-400 mt-2">
        {{ file.messageError }}
      </small>
      }
    </div>
    <!-- End::nombre y tamaño -->

    <!-- Start::botón para eliminar -->
    <p-button
      icon="pi pi-times"
      [rounded]="true"
      [text]="true"
      severity="danger"
      class="ml-auto"
      (click)="removeFile($index)"
    />
    <!-- End::botón para eliminar -->
  </div>
  }
</div>
}
