<!--<div class="flex justify-content-between align-items-center">
    <div class="flex align-items-center">
      <i class="pi pi-shopping-cart mr-2"></i>
      <span>Carrito</span>
    </div>
    <div class="flex align-items-center">
      <i class="pi pi-heart mr-2"></i>
      <span>Favoritos</span>
    </div>
    <div class="flex align-items-center">
      <i class="pi pi-user mr-2"></i>
      <span>Perfil</span>
    </div>
  </div> -->

<footer class="sticky bottom-0 w-full lg:hidden z-2">
  <ul
    class="surface-card p-0 m-0 list-none flex overflow-x-auto select-none shadow-2"
  >
    <li class="flex-1">
      <a
        [routerLink]="['']"
        pRipple
        class="md:cursor-pointer px-2 py-3 flex align-items-center justify-content-center hover:border-500 transition-colors transition-duration-150 flex-column no-underline"
        [ngClass]="{
          'border-blue-500 text-blue-500 hover:border-blue-500': active5 === 0,
          'text-700 border-transparent': active5 !== 0
        }"
        (click)="active5 = 0"
      >
        <!-- <i class="pi pi-home mb-2 text-2xl"></i> -->
        <i
          class="fa-sharp fa-house mb-2 text-2xl"
          [ngClass]="active5 === 0 ? 'fa-solid' : 'fa-regular'"
        ></i>
        <span class="font-medium text-xs">Inicio</span>
      </a>
    </li>
    <li class="flex-1">
      <a
        pRipple
        class="md:cursor-pointer px-2 py-3 flex align-items-center justify-content-center hover:border-500 transition-colors transition-duration-150 flex-column no-underline"
        [ngClass]="{
          'border-blue-500 text-blue-500 hover:border-blue-500': active5 === 1,
          'text-700 border-transparent': active5 !== 1
        }"
        [routerLink]="['']"
        (click)="active5 = 1"
      >
        <!-- <i class="pi pi-objects-column mb-2 text-2xl"></i> -->
        <i
          class="fa-sharp fa-objects-column mb-2 text-2xl"
          [ngClass]="active5 === 1 ? 'fa-solid' : 'fa-regular'"
        ></i>
        <span class="font-medium text-xs">Categorías</span>
      </a>
    </li>
    <li class="flex-1">
      <a
        pRipple
        class="md:cursor-pointer px-2 py-3 flex align-items-center justify-content-center hover:border-500 transition-colors transition-duration-150 flex-column no-underline"
        [ngClass]="{
          'border-blue-500 text-blue-500 hover:border-blue-500': active5 === 2,
          'text-700 border-transparent': active5 !== 2
        }"
        [routerLink]="['auth/register']"
        (click)="active5 = 2"
      >
        <!-- <i class="pi pi-user mb-2 text-2xl"></i> -->
        <i
          class="fa-sharp fa-user mb-2 text-2xl"
          [ngClass]="active5 === 2 ? 'fa-solid' : 'fa-regular'"
        ></i>
        <span class="font-medium text-xs">Mi cuenta</span>
      </a>
    </li>
    <li class="flex-1">
      <a
        pRipple
        class="md:cursor-pointer px-2 py-3 flex align-items-center justify-content-center hover:border-500 transition-colors transition-duration-150 flex-column no-underline"
        [ngClass]="{
          'border-blue-500 text-blue-500 hover:border-blue-500': active5 === 3,
          'text-700 border-transparent': active5 !== 3
        }"
        [routerLink]="['']"
        (click)="active5 = 3"
      >
        <!-- <i class="pi pi-bars mb-2 text-2xl"></i> -->
        <i
          class="fa-sharp fa-bars mb-2 text-2xl"
          [ngClass]="active5 === 3 ? 'fa-solid' : 'fa-regular'"
        ></i>
        <span class="font-medium text-xs">Menú</span>
      </a>
    </li>
    <li class="flex-1">
      <a
        pRipple
        class="cursor-auto md:cursor-pointer px-2 py-3 flex align-items-center justify-content-center hover:border-500 transition-colors transition-duration-150 flex-column no-underline"
        [ngClass]="{
          'border-blue-500 text-blue-500 hover:border-blue-500': active5 === 4,
          'text-700 border-transparent': active5 !== 4
        }"
        [routerLink]="['']"
        (click)="active5 = 4"
      >
        <!-- <i class="pi pi-comments mb-2 text-2xl"></i> -->
        <i
          class="fa-sharp fa-cart-shopping mb-2 text-2xl"
          pBadge
          severity="danger"
          value="2"
          [ngClass]="active5 === 4 ? 'fa-solid' : 'fa-regular'"
        ></i>
        <span class="font-medium text-xs">Carro</span>
      </a>
    </li>
  </ul>
</footer>
