<form [formGroup]="addressForm" (ngSubmit)="submit(addressForm.value)">
  <!-- <app-address-form-control-container controlKey="address" /> -->
  <app-address-form-control-container-v2 formGroupName="address" />

  <div class="field flex">
    <div class="flex align-items-center">
      <p-checkbox
        inputId="newsletter"
        [binary]="true"
        formControlName="newsletter"
      ></p-checkbox>
      <span class="ml-3 text-900"
        >Acepto recibir información de ofertas y promociones de
        implementos.cl.</span
      >
    </div>
  </div>
  <div class="field mb-6 flex flex-column">
    <div class="flex align-items-center" controlErrorContainer>
      <p-checkbox
        inputId="disclaimer"
        [binary]="true"
        formControlName="disclaimer"
      ></p-checkbox>
      <span class="ml-3 text-900"
        >He leído y acepto los
        <a
          target="_blank"
          href="#"
          class="font-medium text-blue-500 no-underline"
          >Términos y condiciones</a
        >
        y la
        <a
          target="_blank"
          href="#"
          class="font-medium text-blue-500 no-underline"
          >Política de privacidad de tratamiento de datos personales</a
        >.</span
      >
    </div>
  </div>
  <div
    class="flex gap-3 fixed lg:static left-0 bottom-0 surface-card w-full p-3 lg:p-0"
  >
    @if(showBackButton()){
    <button
      type="button"
      severity="secondary"
      pButton
      pRipple
      label="Volver"
      class="w-full py-3 font-medium hidden lg:block"
      (click)="onGoBack.emit()"
    ></button>
    }
    <button
      type="submit"
      pButton
      pRipple
      [label]="submitLabel()"
      class="w-full py-3 font-medium"
    ></button>
  </div>
</form>
