<div
  class="surface-overlay py-1 px-3 lg:px-6 flex align-items-center justify-content-between sticky top-0 z-2"
  style="min-height: 80px"
>
  <img
    [routerLink]="['/']"
    src="assets/images/logos/logox.svg"
    alt="Image"
    height="50px"
    class="mr-4 xl:mr-4 hidden lg:inline cursor-pointer"
  />
  <!--
  <a
    pRipple
    class="cursor-pointer hidden lg:block text-700"
    pStyleClass="@next"
    enterFromClass="hidden"
    leaveToClass="hidden"
    [hideOnOutsideClick]="true"
  >
    <i class="pi pi-bars text-4xl"></i>
  </a>-->
  <!-- justify-content-between -->
  <div
    class="align-items-center flex-grow-1 justify-content-between hidden flex static w-full surface-overlay z-1"
  >
    <ul
      class="list-none p-0 m-0 hidden lg:flex align-items-center select-none flex-row mr-4"
    >
      <li class="hidden lg:inline">
        <a
          pRipple
          class="flex p-3 px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150 h-4rem"
        >
          <i class="pi pi-bars mr-3 text-3xl"></i>
          <span class="font-bold">Categorías</span>
        </a>
      </li>
      <!--
      <li class="hidden lg:inline">
        <a
          pRipple
          class="flex p-3 px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150 h-4rem"
        >
          <i class="pi pi-map-marker mr-3 text-3xl"></i>
          <div class="flex flex-column">
            <span>Entregar en</span>
            <span class="font-bold">Arica</span>
          </div>
          <span class="font-bold">Elige tu modo de entrega</span>
        </a>
      </li>-->
    </ul>

    <!--
    <div class="flex align-items-center flex-auto">
      <div class="p-input-icon-left w-full p-input-filled">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          class="w-full"
          placeholder="Product search"
        />
      </div>
    </div> -->

    <div class="flex px-2 lg:px-3 py-3 lg:py-2 w-full">
      <p-inputGroup>
        <!-- <p-dropdown [options]="options" placeholder="Todos"></p-dropdown> -->
        <!-- <p-splitButton label="Todos" [model]="items" class="border-noround" /> -->
        <button
          type="button"
          pButton
          label="Todos"
          icon="pi pi-angle-down"
          class="p-button-primary text-sm surface-200 hover:surface-300 text-600 hover:text-900 surface-border border-right-none hidden xl:flex"
          iconPos="right"
        ></button>

        <input
          type="text"
          class="surface-border border-round-left xl:border-noround-left"
          pInputText
          placeholder="¿Qué estás buscando?"
          variant="filled"
        />
        <button
          type="button"
          pButton
          icon="pi pi-search"
          class="p-button-primary"
        ></button>
      </p-inputGroup>
      <!--
      <p-inputGroup>
        <button
          type="button"
          pButton
          icon="pi pi-check"
          class="p-button-success"
        ></button>
        <input
          type="text"
          pInputText
          variant="filled"
          placeholder="¿Qué estás buscando?"
          class="font-medium surface-border"
        />
        <button
          type="button"
          pButton
          icon="pi pi-search"
          class="p-button-contrast"
        ></button>
      </p-inputGroup> -->
      <!--<span class="p-input-icon-left w-full"
        ><i class="pi pi-search text-600"></i
        ><input
          type="text"
          pinputtext=""
          placeholder="¿Qué estas buscando?"
          class="p-inputtext p-component p-element surface-section text-600 surface-border w-full"
      /></span>-->
    </div>
    <ul
      class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row lg:ml-4"
    >
      <li class="hidden lg:inline">
        <div
          pRipple
          class="flex px-3 py-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150 h-4rem w-max"
        >
          <i class="pi pi-car mr-3 text-3xl"></i>
          <div class="flex flex-column">
            <span>Selecciona</span>
            <span class="font-bold">Tu vehículo</span>
          </div>
        </div>
      </li>
      <li class="align-items-center hidden lg:flex">
        <div
          style="width: 1px; height: 35px"
          class="border-right-1 surface-border mx-2"
        ></div>
      </li>
      <li class="hidden lg:inline">
        <a
          [routerLink]="['signup']"
          pRipple
          class="flex px-3 py-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150 h-4rem w-max no-underline"
        >
          <i class="pi pi-user mr-3 text-3xl"></i>
          <div class="flex flex-column">
            <span>!Hola!</span>
            <span class="font-bold">Inicia sesión o regístrate</span>
          </div>
          <!--<div class="flex flex-column">
            <span>Hola Cristian</span>
            <span class="font-bold">Tu cuenta</span>
          </div> -->
        </a>
      </li>
      <li class="align-items-center hidden lg:flex">
        <div
          style="width: 1px; height: 35px"
          class="border-right-1 surface-border mx-2"
        ></div>
      </li>

      <!--
      <li class="hidden lg:inline">
        <a
          pRipple
          class="flex p-3 px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150"
        >
          <i class="pi pi-truck mr-3 text-3xl"></i>
          <span class="font-bold">Seguimiento de Pedido</span>
        </a>
      </li> -->
      <li class="hidden lg:flex">
        <div
          pRipple
          class="flex px-3 py-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150 h-4rem w-4rem w-max"
        >
          <i class="pi pi-bell text-3xl" pBadge severity="danger" value="2"></i>
          <!-- <span class="hidden lg:inline font-bold">Carrito</span> -->
        </div>
      </li>
      <li class="align-items-center hidden lg:flex">
        <div
          style="width: 1px; height: 35px"
          class="border-right-1 surface-border mx-2"
        ></div>
      </li>
      <li>
        <div
          pRipple
          class="flex px-3 py-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150 h-4rem w-4rem w-max"
        >
          <i
            class="pi pi-shopping-cart text-3xl"
            pBadge
            severity="danger"
            value="2"
          ></i>
          <!-- <span class="hidden lg:inline font-bold">Carrito</span> -->
        </div>
      </li>
    </ul>
  </div>
</div>
