<form [formGroup]="recipientAnotherForm">
  <div class="field mb-4">
    <!-- Start::title -->
    <span class="text-900 text-2xl block font-medium mb-5"
      >Tú o la siguiente persona podrán {{ shippingAction() }} el pedido</span
    >
    <!-- End::title -->

    <!-- Start::input nombre -->
    <div class="field mb-4 flex flex-column">
      <label for="name" class="font-semibold text-900">Nombre</label>
      <input
        id="name"
        type="text"
        pInputText
        maxlength="25"
        spellcheck="false"
      />
      <small id="name-help"> Ej: Nicolás </small>
    </div>
    <!-- End::input nombre -->

    <!-- Start::input apellido -->
    <div class="field mb-4 flex flex-column">
      <label for="name" class="font-semibold text-900">Apellido</label>
      <input
        id="name"
        type="text"
        pInputText
        maxlength="25"
        spellcheck="false"
      />
      <small id="name-help"> Ej: Nicolás </small>
    </div>
    <!-- End::input apellido -->

    <!-- Start::input documento -->
    <div class="field mb-4 flex flex-column">
      <label for="documentId" class="font-semibold text-900">RUT</label>
      <app-document-id-input id="documentId" formControlName="documentId" />
      <small id="documentId-help"> Ej: 12345678-9 </small>
    </div>
    <!-- End::input documento -->

    <!-- Start::input teléfono -->
    <div class="field mb-4 flex flex-column">
      <label for="phone" class="font-semibold text-900">Teléfono</label>
      <app-phone-input id="phone" formControlName="phone" />
      <small id="phone-help"> Ej: 9 1234 9876 </small>
    </div>
    <!-- End::input teléfono -->
  </div>
</form>
