<form
  [formGroup]="recipientTypeForm"
  (ngSubmit)="submit(recipientTypeForm.value)"
>
  <div class="col-12 field mb-4">
    <!-- Start::title -->
    <span class="text-900 text-2xl block font-medium mb-5"
      >¿Quién va a {{ shippingAction() }} la orden?</span
    >
    <!-- End::title -->

    <!-- Start::recipient type -->
    <div class="col-12 flex flex-column lg:flex-row field p-0 gap-3">
      @for(type of recipientTypes(); track $index){
      <div
        class="flex p-3 border-round border-1 surface-border w-full cursor-pointer flex align-items-center h-6rem"
        [ngClass]="{
          'surface-border hover:border-400':
            recipientTypeField?.value !== type.value,
          'border-primary bg-blue-50': recipientTypeField?.value === type.value
        }"
        (click)="onSelectRecipientType(type.value)"
      >
        <p-radioButton
          name="recipientType"
          [value]="type.value"
          formControlName="recipientType"
          styleClass="mr-3"
        ></p-radioButton>
        <div class="mr-4 md:mr-6">
          <div class="font-semibold">{{ type.title }}</div>
        </div>
      </div>
      }
    </div>
  </div>
</form>
