<!--<pre style="background-color: yellow">
    value: {{ passwordField.value }}
    errors: {{ passwordField.errors | json }}
</pre> -->

<form [formGroup]="form">
  <p-password
    [toggleMask]="true"
    promptLabel="Ingresa una constraseña"
    weakLabel="Débil"
    mediumLabel="Fuerte"
    strongLabel="Muy fuerte"
    formControlName="password"
    inputStyleClass="w-full"
    styleClass="w-full"
    (input)="onPasswordFieldInput($event)"
    (blur)="onPasswordFieldBlur()"
  >
    <ng-template pTemplate="footer">
      <p-divider />
      <p class="mt-2 font-bold">Tu contraseña debe contener:</p>
      <ul class="pl-2 ml-2 mt-0 list-none" style="line-height: 1.5">
        <li *ngFor="let error of errors() | keyvalue">
          <i
            class="pi"
            [ngClass]="
              error.value.value
                ? 'pi-times text-red-500'
                : 'pi-check text-green-500'
            "
          ></i>
          <span>
            {{ error.value.message }}
          </span>
        </li>
      </ul>
    </ng-template>
  </p-password>
</form>
