<div class="col-12 field mb-4">
  <!-- Start::title -->
  <span class="text-900 text-2xl block font-medium mb-5"
    >¿Dónde y desde cuándo quieres retirar tu pedido?</span
  >
  <!-- End::title -->

  <!-- Start::dirección -->
  <div
    class="flex p-4 mt-3 lg:mt-0 mb-4 border-round border-1 border-primary bg-blue-50 w-full cursor-pointer flex align-items-center h-6rem"
  >
    <div class="mr-4 md:mr-6">
      <div class="font-semibold mb-2">San Bernardo</div>
      <span class="text-sm">Av. General Velásquez N° 10701</span>
    </div>
    <i class="fa-sharp fa-solid fa-angle-right text-xl ml-auto"></i>
  </div>
  <!-- End::dirección -->

  <!-- Start::información -->
  <div
    class="p-4 surface-100 flex align-items-center justify-content-between mb-4"
  >
    <span class="mr-5 text-sm"
      >Te informaremos por correo electrónico cuando esté listo para ser
      retirado. Recuerda que tienes hasta 3 días para retirar la compra.</span
    >
    <i class="fa-sharp-duotone fa-solid fa-circle-info text-4xl"></i>
  </div>
  <!-- End::información -->
</div>
