<div class="border-bottom-1 surface-border mb-5">
  <p class="text-base text-400">Paso 1 de {{ steps() }}</p>
  <h2 class="mt-0 mb-2 text-900 font-bold text-4xl">Datos de la empresa</h2>
  <p class="mt-0 mb-5 text-700 font-normal text-base">
    Ingresa los datos de tu empresa y disfruta de todos los beneficios.
  </p>
</div>
<!--<pre style="background-color: yellow">
businessLineField: {{ businessLineField.value }}</pre
>-->
<!--<pre style="background-color: yellow">
  lastValue: {{ lastValue() }}
  businessName: {{ businessName() }}
  5blurred: {{ blurred() }}
  businessLineField: {{businessLineField.value}}
</pre>-->
<!--<pre style="background-color: yellow">
  {{ enterpriseForm.value | json }}
</pre>-->
<form
  [formGroup]="enterpriseForm"
  (ngSubmit)="submit(enterpriseForm.getRawValue())"
>
  <!--
  <pre style="background-color: yellow">
 blurred: {{ blurred() }} businessName: {{ businessName() }}</pre
  > -->

  <div class="field mb-4 flex flex-column">
    <label for="documentId" class="font-medium text-900">RUT empresa</label>
    <p-iconField iconPosition="right">
      <!-- <p-inputIcon styleClass="pi pi-spinner pi-spin" [hidden]="!isLoading()" /> -->
      <p-inputIcon
        styleClass="fa-sharp fa-solid fa-spinner-third fa-spin"
        [hidden]="!isLoading()"
      />

      <input
        id="documentId"
        type="text"
        pInputText
        maxlength="10"
        formControlName="documentId"
        class="w-full"
        (focus)="onDocumentIdFieldFocus(documentIdField.value)"
        (input)="onDocumentIdFieldInput($event)"
        (blur)="onDocumentIdFieldBlur(documentIdField.value)"
      />
    </p-iconField>
    <!--<input
      id="documentId"
      type="text"
      pInputText
      maxlength="10"
      formControlName="documentId"
      (focus)="onDocumentIdFieldFocus(documentIdField.value)"
      (input)="onDocumentIdFieldInput($event)"
      (blur)="onDocumentIdFieldBlur(documentIdField.value)"
    />-->
    <!--<small class="text-red-500">
      {{ documentIdField.errors | json }}
    </small> -->
    <!--@if(documentIdField.touched && documentIdField.invalid) {
    <small class="text-red-500">
      {{
        documentIdField.hasError("required")
          ? "Este campo es requerido."
          : documentIdField.hasError("invalidDocumentId")
          ? "El RUT ingresado no es válido."
          : ""
      }}
    </small>
    }@else {
    <small id="documentId-help"> Ej: 12345678-9 </small>
    }-->
  </div>
  <div class="field mb-4 flex flex-column">
    <label for="businessName" class="font-medium text-900">Razón social</label>
    <!--      pKeyFilter="alpha" -->
    <!--<input
      id="businessName"
      type="text"
      pInputText
      maxlength="20"
      formControlName="businessName"
    /> -->
    <p-iconField iconPosition="right">
      <!-- <p-inputIcon styleClass="pi pi-spinner pi-spin" [hidden]="!isLoading()" /> -->
      <p-inputIcon
        styleClass="fa-sharp fa-solid fa-spinner-third fa-spin"
        [hidden]="!isLoading()"
      />
      <input
        id="businessName"
        type="text"
        pInputText
        maxlength="20"
        formControlName="businessName"
        class="w-full"
      />
    </p-iconField>
    <!--    variant="filled" -->
    <!-- <small id="businessName-help"> Ej: Nicolás </small> -->
  </div>
  <div class="field mb-5 flex flex-column">
    <label for="businessLine" class="font-medium text-900">Giro</label>
    <!--<input
      id="businessLine"
      type="text"
      pInputText
      maxlength="20"
      formControlName="businessLine"
      pKeyFilter="alpha"
    />-->
    <p-dropdown
      styleClass="w-full"
      formControlName="businessLineCode"
      [options]="businessLines()"
      optionLabel="name"
      optionValue="code"
      [loading]="isLoading()"
      dropdownIcon="fa-sharp fa-solid fa-chevron-down"
      loadingIcon="fa-sharp fa-solid fa-spinner-third fa-spin"
    />

    <!-- <small id="businessLine-help"> Ej: Rojas </small> -->
  </div>
  <div class="field flex mb-6">
    <div class="flex align-items-center">
      <p-checkbox inputId="newsletter" [binary]="true"></p-checkbox>
      <span class="ml-3 text-900">Deseo añadir una línea de crédito.</span>
    </div>
  </div>
  <div
    class="flex gap-3 fixed lg:static left-0 bottom-0 surface-card w-full p-3 lg:p-0"
  >
    <button
      type="button"
      severity="secondary"
      pButton
      pRipple
      label="Volver"
      class="w-full py-3 font-medium hidden lg:block"
      (click)="onGoBack.emit()"
    ></button>
    <button
      type="submit"
      pButton
      pRipple
      label="Continuar"
      class="w-full py-3 font-medium"
    ></button>
  </div>
</form>
