@if(formGroupName()){
<form [formGroupName]="formGroupName() ?? null">
  @if(useMap()){
  <div class="field mb-4 flex flex-column">
    <label class="font-medium text-900">Ingresa tu dirección completa</label>
    <app-address-input
      (onChangeAddress)="changeAddress($event)"
      formControlName="search"
    />
  </div>

  <app-map (mapDragend)="onDragEnd($event)" />
  <!--<div class="field mb-4 flex flex-column relative">
    <google-map
      height="600px"
      width="auto"
      [options]="options()"
      (mapInitialized)="onMapReady()"
    >
      @for (marker of markerPositions(); track $index) { @if(marker.position){
      <map-advanced-marker
        [position]="marker.position"
        [gmpDraggable]="true"
        (mapDragend)="onDragEnd($event)"
      />
      } }
    </google-map>
    @if(!isMapLoaded()){
    <p-skeleton height="4rem" styleClass="absolute top-0 left-0" />
    }
  </div>-->
  }

  <div class="field mb-4 flex flex-column">
    <label for="street" class="font-medium text-900">Calle</label>
    <input
      id="street"
      type="text"
      pInputText
      formControlName="street"
      (blur)="setAddressManually()"
    />
  </div>
  <div class="field mb-4 flex flex-column">
    <label for="number" class="font-medium text-900">Número</label>
    <input
      id="number"
      type="text"
      pInputText
      formControlName="number"
      (blur)="setAddressManually()"
    />
  </div>
  <div class="field mb-4 flex flex-column">
    <label for="commune" class="font-medium text-900">Comuna</label>
    <p-dropdown
      [options]="communes()"
      formControlName="commune"
      optionLabel="city"
      [filter]="true"
      filterBy="city"
      optionValue="id"
      placeholder="Selecciona una comuna"
      dropdownIcon="fa-sharp fa-solid fa-chevron-down"
      loadingIcon="fa-sharp fa-solid fa-spinner-third fa-spin"
      spellcheck="false"
      [loading]="isLoadingCommunes()"
      (onBlur)="setCommuneManually()"
    />
  </div>
  <div class="field mb-4 flex flex-column">
    <label for="locality" class="font-medium text-900">Localidad</label>
    <input id="locality" type="text" pInputText formControlName="locality" />
  </div>

  <div class="field mb-4 flex flex-column">
    <label for="department" class="font-medium text-900"
      >Departamento / Oficina</label
    >
    <input
      spellcheck="false"
      id="department"
      type="text"
      pInputText
      formControlName="department"
    />
  </div>
  <div class="field mb-5 flex flex-column">
    <label for="reference" class="font-medium text-900">Referencia</label>
    <textarea
      spellcheck="false"
      id="reference"
      formControlName="reference"
      pInputTextarea
      [autoResize]="true"
    ></textarea>
  </div>
</form>

} @else { @if(useMap()){
<div class="field mb-4 flex flex-column">
  <label class="font-medium text-900">Ingresa tu dirección completa</label>
  <app-address-input
    (onChangeAddress)="changeAddress($event)"
    formControlName="search"
  />
</div>

<app-map (mapDragend)="onDragEnd($event)" />
<!--<div class="field mb-4 flex flex-column relative">
  <google-map
    height="600px"
    width="auto"
    [options]="options()"
    (mapInitialized)="onMapReady()"
  >
    @for (marker of markerPositions(); track $index) { @if(marker.position){
    <map-advanced-marker
      [position]="marker.position"
      [gmpDraggable]="true"
      (mapDragend)="onDragEnd($event)"
    />
    } }
  </google-map>
  @if(!isMapLoaded()){
  <p-skeleton height="4rem" styleClass="absolute top-0 left-0" />
  }
</div>-->
}

<div class="field mb-4 flex flex-column">
  <label for="street" class="font-medium text-900">Calle</label>
  <input
    id="street"
    type="text"
    pInputText
    formControlName="street"
    (blur)="setAddressManually()"
  />
</div>
<div class="field mb-4 flex flex-column">
  <label for="number" class="font-medium text-900">Número</label>
  <input
    id="number"
    type="text"
    pInputText
    formControlName="number"
    (blur)="setAddressManually()"
  />
</div>
<div class="field mb-4 flex flex-column">
  <label for="commune" class="font-medium text-900">Comuna</label>
  <p-dropdown
    [options]="communes()"
    formControlName="commune"
    optionLabel="city"
    [filter]="true"
    filterBy="city"
    optionValue="id"
    placeholder="Selecciona una comuna"
    dropdownIcon="fa-sharp fa-solid fa-chevron-down"
    loadingIcon="fa-sharp fa-solid fa-spinner-third fa-spin"
    spellcheck="false"
    [loading]="isLoadingCommunes()"
    (onBlur)="setCommuneManually()"
  />
</div>
<div class="field mb-4 flex flex-column">
  <label for="locality" class="font-medium text-900">Localidad</label>
  <input id="locality" type="text" pInputText formControlName="locality" />
</div>

<div class="field mb-4 flex flex-column">
  <label for="department" class="font-medium text-900"
    >Departamento / Oficina</label
  >
  <input
    spellcheck="false"
    id="department"
    type="text"
    pInputText
    formControlName="department"
  />
</div>
<div class="field mb-5 flex flex-column">
  <label for="reference" class="font-medium text-900">Referencia</label>
  <textarea
    spellcheck="false"
    id="reference"
    formControlName="reference"
    pInputTextarea
    [autoResize]="true"
  ></textarea>
</div>

}
