/** PrimeNG */
@import "./../public/assets/theme/themes/lara-light-blue/theme.scss";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";
@import "scss/layout.scss";

/*
.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
}

.footer-container div {
  flex-grow: 1;
  text-align: center;
}
*/
/**
* Remover fondo azul en móvil.
**/
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}


.no-overlay-scroll{
  position: fixed;
  overflow-y: scroll;
  inline-size: 100%;

}

// añadir dark al div content when no-overlay-scroll::after
