<!-- Start::title -->
<div class="border-bottom-1 surface-border mb-5">
  <p class="text-base text-400">
    Paso {{ accountType() === "personal" ? 2 : 3 }} de {{ steps() }}
  </p>
  <h2 class="mt-0 mb-2 text-900 font-bold text-4xl">
    {{
      accountType() === "personal"
        ? "Dirección de despacho"
        : "Dirección de facturación"
    }}
  </h2>
  <p class="mt-0 mb-5 text-700 font-normal text-base">
    Ingresa tus datos personales y disfruta de una experiencia de compra más
    rápida.
  </p>
</div>
<!-- End::title -->

<form [formGroup]="addressForm" (ngSubmit)="submit(addressForm.value)">
  <div class="field mb-4 flex flex-column">
    <label class="font-medium text-900">Ingresa tu dirección completa</label>
    <app-address-input
      (onChangeAddress)="changeAddress($event)"
      formControlName="search"
    />
  </div>

  <div class="field mb-4 flex flex-column relative">
    <google-map
      height="600px"
      width="auto"
      [options]="options()"
      (mapInitialized)="onMapReady()"
    >
      @for (marker of markerPositions(); track $index) { @if(marker.position){
      <map-advanced-marker
        [position]="marker.position"
        [gmpDraggable]="true"
        (mapDragend)="onDragEnd($event)"
      />
      } }
    </google-map>
    @if(!isMapLoaded()){
    <p-skeleton height="4rem" styleClass="absolute top-0 left-0" />
    }
  </div>

  <div class="field mb-4 flex flex-column">
    <label for="street" class="font-medium text-900">Calle</label>
    <input
      id="street"
      type="text"
      pInputText
      formControlName="street"
      (blur)="setAddressManually()"
    />
  </div>
  <div class="field mb-4 flex flex-column">
    <label for="number" class="font-medium text-900">Número</label>
    <input
      id="number"
      type="text"
      pInputText
      formControlName="number"
      (blur)="setAddressManually()"
    />
  </div>
  <!--<div class="field mb-4 flex flex-column">
      <label for="region" class="font-medium text-900">Región</label>
      <input id="region" type="text" pInputText formControlName="region" />
    </div>-->
  <div class="field mb-4 flex flex-column">
    <label for="commune" class="font-medium text-900">Comuna</label>
    <p-dropdown
      [options]="communes()"
      formControlName="commune"
      optionLabel="city"
      [filter]="true"
      filterBy="city"
      optionValue="id"
      styleClass="w-full"
      placeholder="Selecciona una comuna"
      dropdownIcon="fa-sharp fa-solid fa-chevron-down"
      loadingIcon="fa-sharp fa-solid fa-spinner-third fa-spin"
      spellcheck="false"
      [loading]="isLoadingCommunes()"
      (onBlur)="setCommuneManually()"
    />
  </div>
  <div class="field mb-4 flex flex-column">
    <label for="locality" class="font-medium text-900">Localidad</label>
    <input id="locality" type="text" pInputText formControlName="locality" />
    <!--<p-dropdown
        [options]="localities()"
        formControlName="locality"
        optionLabel="city"
        [filter]="true"
        filterBy="city"
        optionValue="id"
        styleClass="w-full"
        placeholder="Selecciona una localidad"
        dropdownIcon="fa-sharp fa-solid fa-chevron-down"
        loadingIcon="fa-sharp fa-solid fa-spinner-third fa-spin"
        spellcheck="false"
        [loading]="isLoadingCommunes()"
      />-->
  </div>

  <div class="field mb-4 flex flex-column">
    <label for="department" class="font-medium text-900"
      >Departamento / Oficina</label
    >
    <input
      spellcheck="false"
      id="department"
      type="text"
      pInputText
      formControlName="department"
    />
  </div>
  <div class="field mb-5 flex flex-column">
    <label for="reference" class="font-medium text-900">Referencia</label>
    <textarea
      spellcheck="false"
      id="reference"
      formControlName="reference"
      pInputTextarea
      [autoResize]="true"
    ></textarea>
  </div>

  <div class="field flex">
    <div class="flex align-items-center">
      <p-checkbox
        inputId="newsletter"
        [binary]="true"
        formControlName="newsletter"
      ></p-checkbox>
      <span class="ml-3 text-900"
        >Acepto recibir información de ofertas y promociones de
        implementos.cl.</span
      >
    </div>
  </div>
  <div class="field mb-6 flex flex-column">
    <div class="flex align-items-center" controlErrorContainer>
      <p-checkbox
        inputId="disclaimer"
        [binary]="true"
        formControlName="disclaimer"
      ></p-checkbox>
      <span class="ml-3 text-900"
        >He leído y acepto los
        <a
          target="_blank"
          href="#"
          class="font-medium text-blue-500 no-underline"
          >Términos y condiciones</a
        >
        y la
        <a
          target="_blank"
          href="#"
          class="font-medium text-blue-500 no-underline"
          >Política de privacidad de tratamiento de datos personales</a
        >.</span
      >
    </div>
  </div>
  <div
    class="flex gap-3 fixed lg:static left-0 bottom-0 surface-card w-full p-3 lg:p-0"
  >
    <button
      type="button"
      severity="secondary"
      pButton
      pRipple
      label="Volver"
      class="w-full py-3 font-medium hidden lg:block"
      (click)="onGoBack.emit()"
    ></button>
    <button
      type="submit"
      pButton
      pRipple
      label="Crear Cuenta"
      class="w-full py-3 font-medium"
    ></button>
  </div>
</form>
