<!--<pre style="background-color: lightblue">
  value: {{ documentIdField.value }}
  status: {{ documentIdField.status }}
  errors: {{ documentIdField.errors | json }}
</pre>-->
<form [formGroup]="form">
  <p-iconField iconPosition="right">
    <p-inputIcon
      styleClass="fa-sharp fa-solid fa-spinner-third fa-spin"
      [hidden]="!isLoading()"
    />
    <input
      #documentInput
      id="documentId"
      type="text"
      pInputText
      maxlength="13"
      formControlName="documentId"
      class="w-full"
      (blur)="onDocumentIdFieldBlur(documentIdField.value, $event)"
      (input)="onDocumentIdFieldInput($event)"
      (focus)="onDocumentIdFieldFocus(documentIdField.value)"
      (keydown.enter)="keyEnter()"
    />
  </p-iconField>
</form>
