<form [formGroup]="useDeliveryAddressForm">
  <div class="field mb-4">
    <!-- Start::title -->
    <span class="text-900 text-2xl block font-semibold mb-5"
      >Sobre la dirección de facturación</span
    >
    <!-- End::title -->

    <!-- Start::recipient type -->
    <div class="flex flex-column lg:flex-row field p-0 gap-3">
      @for(type of useDeliveryAddressOptions; track $index){
      <div
        class="flex p-3 border-round border-1 surface-border w-full cursor-pointer flex align-items-center h-6rem"
        [ngClass]="{
          'surface-border hover:border-400':
            useDeliveryAddressField?.value !== type.value,
          'border-primary bg-blue-50':
            useDeliveryAddressField?.value === type.value
        }"
        (click)="onSelectOption(type.value)"
      >
        <p-radioButton
          name="useDeliveryAddress"
          [value]="type.value"
          formControlName="useDeliveryAddress"
          styleClass="mr-3"
        ></p-radioButton>
        <div class="mr-4 md:mr-6">
          <div class="font-semibold">{{ type.title }}</div>
        </div>
      </div>
      }
    </div>
  </div>
</form>

@if(!useDeliveryAddress()){
<form [formGroup]="invoiceAddressForm">
  <app-address-form-control-container-v2 />
</form>

}
